argo-cd:
  config:
    params:
      server.insecure: true
  redis-ha:
    enabled: false
  redisSecretInit:
    enabled: true
  redis:
    enabled: true

  controller:
    replicas: 1

  server:
    replicas: 1
    service:
      type: NodePort

  repoServer:
    replicas: 1

  applicationSet:
    replicas: 0

  dex:
    enabled: false
  notifications:
    enabled: false
