apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: prometheus
spec:
  project: prometheus
  source:
    path: "{{ .Values.argocd.appPath }}/prometheus"
    repoURL: "{{ .Values.argocd.sourceRepo }}"
    targetRevision: HEAD
    helm:
      releaseName: kube-prometheus-stack
      valueFiles:
        - values.yaml
  destination:
    namespace: prometheus-stack
    server: "https://kubernetes.default.svc"
  syncPolicy:
    automated:
      enabled: true
      selfHeal: true
