kube-prometheus-stack:
  grafana:
    enabled: false
  alertmanager:
    enabled: false
  nodeExporter:
    enabled: false
  kubeStateMetrics:
    enabled: false
  prometheus:
    service:
      type: NodePort
